<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div ng-hide="currentUser==''">
<div class="nav navbar-nav navbar-left">


                           <li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown">Manage Jobs<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#/manage_job">View applied Jobs</a></li>
							
							<li><a href="#/post_job">Post a new Job</a></li>
							
						</ul></li>  &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;
						
						<a href="#/manage_users">Manage Users</a>   &nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;
							<a href="#/createEvent">Create event</a> 
						

</div><br><br><br>
<div class="generic-container" ng-controller="EventController as ctrl">
<form ng-submit="ctrl.submit()" name="myForm" class="form-horizontal">
<label>Please fill the event details...</label>

<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-label" for="title">Event Name</label>
<div class="col-md-7">
<input type="text" ng-model="ctrl.event.name" id="title" class="name form-controlinput-sm" placeholder="Enter event name" required ng-minlength="5"/>
</div>
</div>
</div>

<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-label" for="venue">Venue</label>
<div class="col-md-7">
<input type="text" ng-model="ctrl.event.venue" id="venue" class="venue form-controlinput-sm" placeholder="Enter venue for the Event" required ng-minlength="5"/>
</div>
</div>
</div>

<div class="row">
<div class="form-group col-md-12">
<label class="col-md-2 control-label" for="description">Event details</label>
<div class="col-md-7">
<textarea rows="10"cols="100" ng-model="ctrl.event.description" id="description" class="event_Detail form-controlinput-sm" placeholder="Enter the event description" required ng-minlength="10" ng-maxlength="100">
</textarea>
</div>
</div>
</div>

<div class="row">
<div class="form-actions floatRight">
<input type="submit" value="Create Event" class="btn btn-info btn-sm">
<button type="button" ng-click="ctrl.reset()" class="btn btn-info btn-sm">Reset Event</button>
</div>
</div>

</form>
</div>
</div>
</body>
</html>